image: maven:3.9-eclipse-temurin-17

stages:
  - build
  - lint
  - test

cache:
  paths:
    - .m2/repository

build:
  stage: build
  tags:
    - zadanie3lista5
  script:
    - mvn compile

lint:
  stage: lint
  tags:
    - zadanie3lista5
  script:
    - mvn checkstyle:check
  allow_failure: true

test:
  stage: test
  tags:
    - zadanie3lista5
  script:
    - mvn test
