image: maven:3.9-eclipse-temurin-17

stages:
  - build
  - lint
  - test
  - deploy

cache:
  paths:
    - .m2/repository

build:
  stage: build
  tags:
    - zadanie3lista5
  script:
    - mvn compile

lint:
  stage: lint
  tags:
    - zadanie3lista5
  script:
    - mvn checkstyle:check
  allow_failure: true

test:
  stage: test
  tags:
    - zadanie3lista5
  script:
    - mvn test

deploy:
  stage: deploy
  tags:
    - zadanie3lista5
  script:
    - echo "builds and sends docker image to host 5000"
    - docker build -t host.docker.internal:5000/order-app:$CI_COMMIT_TAG .
    - docker push host.docker.internal:5000/order-app:$CI_COMMIT_TAG
  only:
    - tags
