image: maven:3.9-eclipse-temurin-17

stages:
  - build
  - test

cache:
  paths:
    - .m2/repository

build:
  stage: build
  tags:
    - zadanie3lista5
  script:
    - mvn compile

test:
  stage: test
  tags:
    - zadanie3lista5
  script:
    - mvn test
