services:
  gitlab-runner:
    image: "gitlab/gitlab-runner:alpine3.21"
    container_name: "gitlab-runner"
    volumes:
      - "./config:/etc/gitlab-runner"
      - "/var/run/docker.sock:/var/run/docker.sock"
    extra_hosts:
      - "host.docker.internal:host-gateway"
