<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="
                https://logging.apache.org/xml/ns
                https://logging.apache.org/xml/ns/log4j-config-2.xsd">

    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="%d %p %c: %m%n"/>
        </Console>

        <Http name="OPEN_OBSERVE"
              url="http://localhost:5080/api/default/default/_json">
            <Property name="Content-Type" value="application/json" />
            <Property name="Authorization" value="Basic cm9vdEBleGFtcGxlLmNvbTpwYXNz" />
            <JsonLayout />
        </Http>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="OPEN_OBSERVE"/>
        </Root>
    </Loggers>

</Configuration>
