concurrent = 1
check_interval = 0
shutdown_timeout = 0

[session_server]
session_timeout = 1800

[[runners]]
name = "39380584b43b"
url = "http://host.docker.internal:4321/"
id = 2
token = "glrtr-moOM0fqlA0q3adQ54FMy2W86MQpwOjEKdDozCw.01.120u249at"
token_obtained_at = 2025-12-08T21:02:57Z
token_expires_at = 0001-01-01T00:00:00Z
executor = "docker"

[runners.cache]
MaxUploadedArchiveSize = 0

[runners.cache.s3]
[runners.cache.gcs]
[runners.cache.azure]

[runners.docker]
tls_verify = false
image = "maven:3.9-eclipse-temurin-17"
privileged = false
disable_entrypoint_overwrite = false
oom_kill_disable = false
disable_cache = false
volumes = ["/cache"]
shm_size = 0
network_mtu = 0
