name: localDockerRunner

on:
  push:
    branches: [ temp ]

jobs:
  build:
    runs-on: [self-hosted, docker]
    steps:
      - uses: actions/checkout@v4
      - run: echo "local docker runner is doing its CI job"
